langchain
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured[pdf]
python-docx
docx2txt
matplotlib

#embeddings

langchain-huggingface
sentence-transformers

